

header {
    width: 160px;
    height: 50px;
    font-size: 35px;
    background: #4aaaa5;
    margin: 0px;
    color: white;
}
h1 {
    color: #4aaaa5;
    width: 300px;
}

.topnav{
    color: rgb(163, 163, 163);
    overflow: hidden;
    float: right;
    font-size: 20px;
    padding: 8px;
}